@font-face {
    font-family: "MalibuBarbie";
    src: url("/TottallyMalibu.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e94499;
}

h1 {
  font-family: "MalibuBarbie", "Poppins", sans-serif;
  padding-left: 35px;
  padding-top: 25px;
  font-size: 55px;
  font-weight: 500;
  text-shadow: 5px 5px #ff6eb6;
}

a#logo {
  color: #fff;
}

.icone {
  width: 223px;
  height: 223px;
  float: right;
}

.cabecalho {
  text-shadow: #f1005d 1px 1px 1px;
  display: flex;
  justify-content: space-between;
  padding: 0px 0;
}

.cabecalho h1 {
  margin-left: 0px;
  text-align: justify;
}

.cabecalho h1 a {
  color: #fff;
  text-decoration: none;
}


.c1 {
    display: flex;
    margin: auto 0px;
    padding: 0px 0;
    list-style: none;
  }
  
  .c1 li a:hover {
    color: #fdcce0;
    text-shadow: #7c003e 3px 3px 0px;
  }
  
  .c2 {
    font-family: "MalibuBarbie", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
  }
  
  .c2 a {
    text-decoration: none;
    color: #f6e7ecfe;
    padding: 0 15px;
  }
  
  .projeto {
    display: flex;
  }



hr {
    border: none;
    height: 1px;
    background-color: rgb(116, 5, 70);
    margin-top: 20px;
    margin-bottom: 20px;
}

.projeto {
    color: rgb(0, 0, 0);
    display: block;

    padding: 0px;
    margin: 10px;
}


.projeto-imagem {
    width: 200px;
   margin-top: 0px;
    float: right;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
   
    

}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    align-content: center;
}

.dados {
    text-align: center;
    margin-right: 175px;
}

.projeto1 {
    margin: 15px;
}



.projeto1-titulo {
    margin-left: 0;
    left: 59px;
    top: 276px;
    font-family: "MalibuBarbie", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
    line-height: 65px;
    text-shadow: #ff3a99 5px 3px 0px;
    color: #ffffff;
}


.projeto2-titulo a {
    text-decoration: none;
    color: black;



}

.projeto2-titulo a:hover {
    color: #eeadde;
    text-shadow: #bb007d 3px 3px 0px;
}


.projeto2-titulo {
    margin-left: 0;
    list-style: none;
    flex-wrap: wrap;
    left: 59px;
    top: 270px;
    font-family: "MalibuBarbie", sans-serif;
    font-style: normal;
    font-weight: 50;
    font-size: 30px;
    line-height: 54px;
    color: #000000;
   
}



.iframedocs {
    display: flex;
    justify-content: center;
    align-items: center;

}

.iframedocs iframe {
    width: 850px;
    height: 2407px;
    border: none;
    max-width: 100%;
}

.iframedocss {
    display: flex;
    justify-content: center;
    align-items: center;

}

.iframedocss iframe {
    width: 850px;
    height: 7100px;
    border: none;
    max-width: 100%;
}

.iframeslides {
    display: flex;
    justify-content: center;
    align-items: center;

}

.iframeslides iframe {
    width: 50%;
    /* Ajuste a largura conforme necessário */
    height: 400px;
    /* Ajuste a altura conforme necessário */
    border: none;
    max-width: 100%;
}

.tagss {
    align-items: center;
}

.forms {
    color: rgb(0, 0, 0);
    display: block;
    padding: 0px;
    margin: 15px;
}

.forms-titulo {
    margin-left: 0;
    width: 576px;
    height: 58px;
    left: 59px;
    top: 276px;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    color: #000000;
}

.forms h2 {
    background-color: #E2A9EB;
}

.forms-div {
    margin-top: 20px;
}

.forms label {
    display: block;
    margin-bottom: 5px;
}

.forms input[type="text"],
.forms input[type="email"],
.forms textarea {
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #7c003e;
    border-radius: 4px;
}

.forms textarea {
    height: 150px;
}

.forms input[type="submit"] {
    background-color: #e076ad;
    color: #030001;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.forms input[type="submit"]:hover {
    background-color: #d80f70;
}


.rodape {
    background-color: #e94499;
    ;
    text-align: center;
}

.rodape-imagem {
    height: 60px;
    padding: 12px 12px;
    margin: 12px;

}

.rodape a:hover {
    text-decoration: none;
    color: #5c3b5c;
}

.rodape a {
    text-decoration: none;
    color: #000000;
    background-color: #e94499;
}
@media screen and (max-width: 1321px) {
    .icone{
      display: none;
    }
    .c1 {
      flex-wrap: wrap;
    }
    
  }
  

  
  
  @media screen and (max-width: 600px) { 
    .equipe-toda {
      display: grid;
      grid-template-columns: 100% ;
    }
    .cabecalho {
      flex-wrap: wrap;
    }
  }