*{
    margin: 5px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #e94499;

}


header {
    
    color: #350435;
    
}

.icone {
   
    width: 223px;
    height: 223px;
    float: right;
    
    
}

.cabecalho {

    color: #5c3b5c;
    text-shadow: #350435 1px 1px 1px;
     display:flex; 
     justify-content: space-between;
    padding: 0px 0;
    }

 .cabecalho h1 {
        margin-left: 0px;
        text-align: justify;
    }
    
    .cabecalho h1 a {
        color:#5c3b5c;
        text-decoration: none;
    }
    
  .c1 li a:hover {
    color:#E2A9EB;
  
  }    

.c1 {
    display: flex;
    margin: 0 0px; 
    padding: 0px 0; 
   
    list-style: none;
    position: relative;
    justify-content: space-around;
    
   
    
}

.c2 {   
display: inline-block;
width: 115px;
height: 28px;
left: 901px;
top: 4px;


font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 39px;

}



.c2 a {
    text-decoration: none;
    color: #5c3b5c;
}




.projeto  {
    list-style: none;
    display: flex;
}

.projeto h2 {
    background-color: #E2A9EB;
}

.equipe {
    list-style: none;
    display: flex;
}

.equipe h2 {
    background-color: #E2A9EB;
}

.submenu a {
    text-decoration: none;
    color: #5c3b5c;
    

}

.submenu {
    display: block;
  }
  
  .submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .submenu li {
    font-size: 20px;
    margin: 8px 0;
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: rgb(116, 5, 70);
    margin-top: 20px;
    margin-bottom: 20px;
    

  }

  .projeto{
   
    color:rgb(0, 0, 0);
   display: block;
    
    
    padding: 0px ;
    margin: 10px;
}

.projeto-titulo {
    margin-left: 0;
    width: 576px;
    height: 58px;
    left: 59px;
    top: 276px;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    color: #000000;
}


    .projeto-imagem {
     width: 200px;
    height: 200px;
    float: right;


    }

    .equipe {
        color:rgb(0, 0, 0);
    display: block;
    
    
    padding: 0px ;
    margin: 15px;
    }

    .equipe-titulo {
        margin-left: 0;
        width: 576px;
        height: 58px;
        left: 59px;
        top: 276px;
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 54px;
        color: #000000;
    }

    .equipe-toda {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        


    }

    .equipe-div {
        text-align: center;
    }
  
    .equipe-imagem {
        width: 200px;
        padding-top: 10px;
    }

    .name {
        text-align: center;
       
    }

    .forms {
        color:rgb(0, 0, 0);
    display: block;
    padding: 0px ;
    margin: 15px;
    }

    .forms-titulo {
        margin-left: 0;
        width: 576px;
        height: 58px;
        left: 59px;
        top: 276px;
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 54px;
        color: #000000;
    }

    .forms h2 {
        background-color: #E2A9EB;
    }

.forms-div {
    margin-top: 20px;
    display: block;
}

.forms label {
    display: block;
    margin-bottom: 5px;
}

.forms input[type="text"],
.forms input[type="email"],
.forms textarea {
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #7c003e;
    border-radius: 4px;
}

.forms textarea {
    height: 150px;
}

.forms input[type="submit"] {
    background-color: #e076ad;
    color: #030001;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.forms input[type="submit"]:hover {
    background-color: #ff3a99;
}




    .rodape{
        background-color: #e94499;;
        text-align: center;
    }
    
    .rodape-imagem{
        height: 60px;
        padding: 12px 12px;
        margin: 12px;
    
    }

    .rodape a:hover {
        text-decoration: none;
        color: #5c3b5c;
        }

    .rodape a {
        text-decoration: none;
        color: #000000;
    }